<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coms_3009a_banking_system">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Banking System"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coms3009abankingsystem"
        android:usesCleartextTraffic="true">
        <activity android:name=".ClientAccount.Transfer"></activity>
        <activity android:name=".ClientAccount.Pay" />
        <activity android:name=".ClientAccount.AccountActivity" />
        <activity android:name=".AdminProfilePage" />
        <activity android:name=".ClientAccount.Cli_Acc_Test" />
        <activity android:name=".login.AdminLoginKey" />
        <activity android:name=".login.Login2" />
        <activity android:name=".Registration.AdminRegCode" />
        <activity android:name=".Registration.AdminHomePage" />
        <activity
            android:name=".Registration.adminRegister"
            android:parentActivityName=".Registration.AdminRegCode" />
        <activity android:name=".Banking" />
        <activity android:name=".ClientAccount.client_account" />
        <activity android:name=".Registration.AdminKeyView" />
        <activity
            android:name=".Client_Verification_Status"
            android:parentActivityName=".login.login" />
        <activity
            android:name=".Registration.clientRegister"
            android:parentActivityName=".usertype" />
        <activity android:name=".Profile" />

        <activity
            android:name=".usertype"
            android:parentActivityName=".login.login" />
        <activity
            android:name=".login.login"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AdminVerification" />
        <activity android:name=".VerificationActivity" />
        <activity android:name=".ClientsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>